ENVIRONMENT=local
USER_SERVICE_URL=http://localhost:8001
TRAVEL_SERVICE_URL=http://localhost:8002
AI_SERVICE_URL=http://localhost:8003
UTILITY_SERVICE_URL=http://localhost:8004
CORS_ORIGINS=http://localhost:5173,http://localhost:8080
